body
{
    margin-top: 2%;
}

header > img
{
    margin-bottom: 1%;
    margin-left: 2%;
}

hr
{
    margin-bottom: 0;

    border-color: #885541;
    background-color: #885541;
}

main
{
    display: flex;
    flex-direction: row;

    min-height: 100vh;

    align-self: stretch;
    flex-grow: 1;
}

#images
{
    display: flex;

    width: 80vw;
    margin-top: 50px;

    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

#images img
{
    margin-bottom: 5%;
}

#tool
{
    font-size: 140%;

    display: flex;
    flex-direction: column;

    width: 20vw;
    min-width: 150px;

    color: #fff;
    background-color: #885541;

    align-self: stretch;
}

#tool img
{
    width: 35px;
}

#upload
{
    display: flex;
    flex-direction: row;

    cursor: pointer;

    align-items: center;
    align-self: stretch;
}

#filter
{
    display: flex;
    flex-direction: row;

    cursor: pointer;

    align-items: center;
    align-self: stretch;
}

*::-webkit-input-placeholder
{
    font-size: 20px;
    font-weight: bold;

    color: #885541;
}

#searchbox
{
    font-family: 'Goudy Old Style', sans-serif;
    font-size: 20px;
    font-weight: bold;

    width: 80%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;

    color: #885541;
    border: 2px solid #885541;
    background-color: #fff;
}

#favorites
{
    display: flex;
    flex-direction: row;

    cursor: pointer;

    align-items: center;
    align-self: stretch;
}

#expandUpload
{
    display: none;
    flex-direction: column;

    height: 20%;
    max-height: 150px;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-left: 10%;

    background-color: #c6ab9c;

    align-items: flex-start;
    justify-content: space-around;
}

button
{
    font-family: 'Goudy Old Style', sans-serif;
    font-size: 90%;

    cursor: pointer;

    color: #fff;
    border: 2px solid #502f1e;
    background-color: #885541;
}

label
{
    font-size: 90%;

    padding: 5px;

    cursor: pointer;

    color: #fff;
    border: 2px solid #502f1e;
    background-color: #885541;
}

#file
{
    position: absolute;
    z-index: -1;

    overflow: hidden;

    width: .1px;
    height: .1px;

    opacity: 0;
}

#expandFilter
{
    display: flex;
    flex-direction: column;

    height: 20%;
    max-height: 120px;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-left: 10px;

    background-color: #c6ab9c;

    align-items: center;
    justify-content: space-around;
}

#buttons
{
    display: flex;

    align-items: center;
    justify-content: space-around;
    align-self: stretch;
}

#buttons > button
{
    font-size: 80%;

    padding-right: 4%;
    padding-left: 4%;
}
#expandFavorites
{
    display: flex;
    flex-direction: column;

    height: 10%;
    max-height: 80px;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-left: 10px;

    background-color: #c6ab9c;

    align-items: center;
    justify-content: space-around;
}

#mobileButtons
{
    display: none;
}

@media(max-width: 480px)
{
    header
    {
        display: flex;

        justify-content: center;
    }

    header > img
    {
        width: 100%;
    }
    hr
    {
        display: none;
    }

    #tool
    {
        display: none;
    }
    main
    {
        flex-direction: column;
    }
    #mobileButtons
    {
        display: flex;
        flex-direction: row;

        align-items: flex-start;
        justify-content: center;
        align-self: stretch;
    }
    #mobileButtons > img
    {
        width: 15%;
        max-width: 55px;
        margin: 3px;
    }
}
